# --------- pytorch --------- #
torch>=2.0.0
torchvision>=0.15.0
lightning>=2.0.0
torchmetrics>=0.11.4

# --------- hydra --------- #
fairseq==0.12.2
hydra-core>=1.0.7,<1.1
# hydra-colorlog==0.1.1 # >=1.2.0
# hydra-optuna-sweeper<1.1.0 # >=1.2.0

# --------- loggers --------- #
# wandb
# neptune-client
# mlflow
# comet-ml
# aim>=3.16.2  # no lower than 3.16.2, see https://github.com/aimhubio/aim/issues/2550

# --------- others --------- #
rootutils       # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
# sh            # for running bash commands in some tests (linux/macos only)

einops #>=0.8.0
vector-quantize-pytorch #>=1.14.20
local-attention #>=1.9.1
gateloop-transformer #>=0.2.4
audiolm-pytorch #>=2.0.7
packaging #>=24.0
tensorboardX